<div class="overlay" padding >
<ion-header translucent>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  color="dark" defaultHref="/" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="onCrop()">Done</ion-button>
        <ion-button (click)="onRotate()">Rotate</ion-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content fullscreen >
    <image-cropper
    [imageBase64]= "inputImage"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="onCropImage($event)"
    >
</image-cropper>
</ion-content>
</div>