<ion-header >
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>{{ 'login.forgotPassword' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">{{ 'common.label.email' | translate }} </ion-label>
        <ion-input formControlName="email" ></ion-input>
      </ion-item>
      <br>
      <ion-item button color="favorite1" (click)="onSubmit()">
        <ion-label class="ion-text-center ion-text-bold" color="dark">
          Done
        </ion-label>
      </ion-item>

    </ion-list>
  </form>
</ion-content>