ion-toolbar  {
  
    --background: var(--ion-color-favorite);

    ion-buttons  {
        height: 55px;
    }
    ion-back-button {
        --icon-margin-end : 10px;
        --icon-margin-start : 5px;
    }

    ion-searchbar  {
        --cancel-button-color: var(--ion-color-dark);
        // padding: 27px;
    }
}

ion-grid  {
    
    &.info  {
        height: 100%;

        ion-row  {
            height: 100%;
        }

        ion-col  {
            text-align: center;
            
            p  {
                // line-height: 5px;
                &.title  {
                    font-size: 20px;
                    font-weight: 550;
                }
                &.sub-text  {
                    font-size: 14px;
                }
            }
        }
    }

    &.list  {
        ion-row  {
            
            &.item-content {
                border-bottom: 1px solid var(--ion-color-medium);
            }

            &:last-child  {
                border-bottom: 0;
            }

            .item-details  {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &.hidden  {
        display: none;
    }
    &.display  {
        display: block;
    }

    .group-header  {
        background-color: var(--ion-color-medium);
        font-weight: bold;
        color: var(--ion-color-light);
    }
    
    
}


ion-item  {
    padding-top: 10px;
}

ion-chip  {
    border-radius: 5px !important;
    padding: 5px;
    border: 1px solid;
}