<ion-header>
  <ion-toolbar>
    
    <ion-title *ngIf="!isSerachActive">
      {{!isSerachActive ? 'Orders' : ''}}
    </ion-title>

    <ion-buttons slot="end" *ngIf="!isSerachActive">
      <ion-button (click)="isSerachActive = !isSerachActive; onEnableSearch()" color="dark">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons> 
    
    <ion-searchbar
      #searchbar
      debounce="500"
      placeholder="Search for orders" 
      showCancelButton="always" 
      *ngIf="isSerachActive"
      cancelButtonIcon="arrow-back-sharp" 
      (ionChange) = "onSearch($event)"
      (ionCancel) = "onCancel()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!((orders$ | async))" class="info">
    <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-center">
            <p class="title">You haven't received any orders yet.</p>
            <p class="sub-text">
              It's okay! It is only a matter of time before orders start rolling in.
              Get out there and spread the world.
            </p>
            <ion-button 
                    expand="full" 
                    strong="true" 
                    (click)="onCreateNewOrder()"
                    class="add-item"
                    color="favorite">
              CREATE INVOICE        
            </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  class="list" *ngIf="(orders$ | async | listFilter:'id,name':searchText) as order ">
      <ion-row *ngFor="let item of getGroupBy(order) | keyvalue" >
        <ion-col size="12" class="group-header">
          {{item.key}}
        </ion-col>
        <ion-col size="12">
          <ion-row *ngFor="let itemOfItem of item.value" (click)="onViewOrder(itemOfItem)" class="item-content">
            <ion-col size="8" class="item-details">
              <ion-text color="medium">#{{itemOfItem?.id}}</ion-text> <br>
              <ion-text color="dark" class="ion-text-capitalize">{{itemOfItem?.name}}</ion-text> <br>
              <ion-chip color="danger">
                  <ion-label>{{itemOfItem?.paymentType}}: {{itemOfItem?.paymentStatus}}</ion-label>
              </ion-chip>
              <ion-chip color="warning">
                  <ion-label>{{itemOfItem?.orderStatus}}</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col size="4" class="ion-text-right item-details">
              <p> {{itemOfItem?.orderTotal | currency:'USD':'code'}}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
      <ion-fab-button (click)="onCreateNewOrder()" color="favorite">
        <ion-icon name="add" color="dark"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>