<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>Review</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content color="light" forceOverscroll="true" >
  <ion-grid class="main" *ngIf="(order$ | async) as order">
    <ion-row class="ion-text-capitalize">
      <ion-col size="9">
        <ion-text color="dark" class="text-bold"> {{order?.customer?.firstname}} {{order?.customer?.lastname}}</ion-text> <br>
        <ion-text color="medium">
          {{order?.customer?.firstname}}, {{order?.customer?.city}}, {{order?.customer?.country}}
        </ion-text> <br>
        <ion-text color="medium">{{order?.customer?.phoneNumber}}</ion-text>
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        <ion-button fill="outline" color="favorite" size="small" (click)="onShowAddresseModal(order?.customer)">Edit</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="9">
        <ion-text *ngFor="let item of order?.paymentType" [hidden]="item?.status != 'selected'" class="text-bold">
          {{item?.type}}
        </ion-text> 
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        <ion-button fill="outline" color="favorite" size="small" (click)="onShowPaymentType()">Edit</ion-button>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="9">
        <ion-text class="text-bold">{{ itemText(order?.orderDetails?.length) }}</ion-text>
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        <ion-button fill="outline" color="favorite" size="small" (click)="onShowOrders(order?.orderDetails)">Edit</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-row class="catalogue" *ngFor="let item of order?.orderDetails">
          <ion-col size="2">
            <ion-thumbnail>
                <ion-img [src]="imageURL(item?.images)" *ngIf="imageURL(item?.images)"></ion-img>
                <ion-icon name="pricetags-outline" *ngIf="imageURL(item?.images)"></ion-icon>
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            <div>
              <ion-text color="dark" class="text-bold ion-text-capitalize">{{item?.productName}}</ion-text> <br>
              <ion-text color="medium"> Sold by retailer </ion-text>
            </div>
          </ion-col>
          <ion-col class="ion-text-right">
            {{item?.price}} X {{item?.count}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
         <ion-text><ion-icon name="chatbubble-ellipses-outline"></ion-icon> Leave a note for seller</ion-text>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid class="footer-grid" *ngIf="(order$ | async) as order">
    <ion-row>
      <ion-col class="tAndc ion-text-center">
        By placing the order, you agree to our <ion-text color="primary">Refund & Exchange Policy</ion-text>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="ion-text-left"><ion-text color="dark">Subtotal</ion-text></ion-col>
      <ion-col class="ion-text-right"><ion-text color="dark">{{subtotal(order?.orderDetails) | currency:'USD':'code'}}</ion-text></ion-col>
    </ion-row>
    <ion-row *ngIf="deliveryRate(order?.deliveryMethod) as deliveryMethod">
      <ion-col class="ion-text-left"><ion-text color="dark">Delivery</ion-text></ion-col>
      <ion-col class="ion-text-right"><ion-text color="dark">{{deliveryMethod?.rate | currency:'USD':'code'}}</ion-text></ion-col>
    </ion-row>
    <ion-row *ngIf="vat(order) as vatAmount">
      <ion-col class="ion-text-left"><ion-text color="dark">Taxes (VAT 3%)</ion-text></ion-col>
      <ion-col class="ion-text-right"><ion-text color="dark">{{vatAmount | currency:'USD':'code'}}</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-left"><ion-text color="dark" class="text-bold">Total</ion-text></ion-col>
      <ion-col class="ion-text-right"><ion-text color="dark" class="text-bold">{{total(order) | currency:'USD':'code'}}</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="favorite" expand="full" [disabled]="isInValid" (click)="onSubmit(order)"> Place Order </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
  


