ion-col  {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;

    &.active  {
        border-bottom: 2px solid var(--ion-color-favorite1);
    }

    &.tAndc  {
        font-style: italic;
        color: var(--ion-color-medium);
        font-size: 11px;
    }
}

ion-title  {
    text-transform: uppercase;
}