<ion-header translucent>
  <ion-toolbar color="favorite" padding>
      <!-- <ion-buttons slot="start">
          <ion-button (click)="onDismiss()">
            Cancel
          </ion-button>
      </ion-buttons> -->
      <ion-title color="dark" mode="ios" >Payment Options</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onDismiss()">
          Close
        </ion-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-radio-group>
    <ion-item class="ion-activated" *ngFor="let paymentOption of paymentOptions" (click)="onSelect(paymentOption)">
      <ion-radio slot="start"></ion-radio>
      <ion-label>{{paymentOption?.type}}</ion-label>
    </ion-item>
  </ion-radio-group>
</ion-content>