<ion-header>
  <ion-toolbar padding>
        <ion-back-button  slot="start" color="dark" defaultHref="/" text="{{ 'common.tabs.wallet' | translate }}" icon="arrow-back-outline"></ion-back-button>
   </ion-toolbar>
</ion-header>
<ion-content fullscreen   >
  <ion-grid *ngIf="!hasPayoutMethod">
    <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-center">
          <div  class="catalogue-container">
            <p class="dollar-icon">
              <ion-icon name="cash-outline"></ion-icon>
            </p>
            <p class="font-weight-light">
              {{ 'wallet.title' | translate }}
            </p>
            <ion-button 
                    expand="full" 
                    strong="true" 
                    (click)="onAddItem()"
                    class="add-item">
                    {{ 'wallet.button.title' | translate }}
            </ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div *ngIf="hasPayoutMethod">
    <ion-item lines="none" >
        <ion-label class="header">
            <ion-text class="text-16 text-600">
              {{ 'wallet.PAYOUTSUMMARY' | translate }}
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-card color="light">
        <ion-card-content>
            <ion-grid>
                <ion-row >
                    <ion-col class="text-left">
                        <ion-text>{{ 'wallet.AccountBalance' | translate }}</ion-text>
                      </ion-col>  
                    <ion-col class="text-right">
                        <ion-text>{{wallet?.Balance?.Amount | currency : wallet?.Balance?.Currency }}</ion-text>
                    </ion-col>
                </ion-row>
                <!-- <ion-row >
                    <ion-col class="text-left">
                        <ion-text>Currently Available</ion-text>
                      </ion-col>  
                    <ion-col class="text-right">
                        <ion-text>value</ion-text>
                    </ion-col>
                </ion-row> -->
            </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-item lines="none" >
          <ion-label class="ion-text-wrap">
            <ion-text>
                <h2 class="text-600"> {{ 'wallet.selectPayout' | translate }}</h2>
                
            </ion-text>
            <ion-text color="medium">
                <p class="sub-text">
                  {{ 'wallet.title' | translate }}
                </p>
            </ion-text>
          </ion-label>
      </ion-item>
      <ion-card color="light">
          <ion-card-header>
              <ion-card-title>
                  <ion-grid>
                      <ion-row >
                          <ion-col size="5">
                              <ion-text>{{ 'wallet.BankTransfer' | translate }}</ion-text>
                            </ion-col>  
                          <ion-col size="5">
                              <ion-text>{{payoutDetails?.bankname}}</ion-text>
                            </ion-col>
                          <ion-col class="icon-container" size="2">
                            <ion-icon name="ellipsis-vertical" (click)="onShowPopup($event)"></ion-icon>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
              </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <ion-grid>
                  <ion-row >
                      <ion-col class="text-left">
                          <ion-text>{{ 'wallet.BankTransfer' | translate }}</ion-text>
                        </ion-col>  
                      <ion-col class="text-right">
                          <ion-text>{{ 'wallet.payoutDays' | translate }}</ion-text>
                      </ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col class="text-left">
                          <ion-text>{{ 'common.label.Fees' | translate }}</ion-text>
                        </ion-col>  
                      <ion-col class="text-right">
                          <ion-text>{{fee}}%</ion-text>
                      </ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col class="text-left">
                          <ion-text>{{ 'common.label.Currency' | translate }}</ion-text>
                        </ion-col>  
                      <ion-col class="text-right">
                          <ion-text>{{wallet?.Balance?.Currency}}</ion-text>
                      </ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col >
                        {{ 'wallet.selectPayoutText' | translate }}
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-content>
        </ion-card>

  </div>
</ion-content>
<ion-footer *ngIf="wallet" >
    <ion-button size="large" expand="full" (click)="onReleasePayment()" [disabled]="!wallet.Balance.Amount">
      {{ 'wallet.RELEASEPAYMENT' | translate }}
    </ion-button>
</ion-footer>