<ion-header >
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>{{ 'settings.shipping' | translate }}</ion-title>
    <ion-buttons slot="end" *ngIf="shippingForm.dirty">
      <ion-button (click)="onSave()">
        {{ 'common.button.Save' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="shippingForm">
  <ion-grid>
    <ion-row class="ship-heading">
      <ion-col size="8">
        {{ 'shipping.Type' | translate }}
      </ion-col>
      <ion-col size="4" class="right-align">
        {{ 'shipping.Allow' | translate }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-text class="text-bold">
          {{ 'shipping.CustomerPickup' | translate }} <br>
        </ion-text>
        <ion-text color="success">{{ 'shipping.NoCost' | translate }}</ion-text>
      </ion-col>
      <ion-col size="4" class="right-align">
        <ion-toggle color="favorite" formControlName="customer_pickup"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-text class="text-bold">
          {{ 'shipping.InHouseDelivery' | translate }} <br>
        </ion-text>
        <ion-text color="success">
          {{ 'shipping.FixedPrice' | translate }} <br>
        </ion-text>
        <ion-text>
          ({{ 'shipping.domesticOnly' | translate }})
        </ion-text>
      </ion-col>
      <ion-col size="4" class="right-align">
        <ion-toggle color="favorite" formControlName="deliveryavailable" (ionChange)="isInHouseDeliveryActive=!isInHouseDeliveryActive"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="bg-light" [hidden]="!shippingForm.get('deliveryavailable').value" formArrayName="fixedPrices">
    <ion-row>
      <ion-col size="12">
        <ion-text class="text-bold">
          {{ 'shipping.setFixed' | translate }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ship-heading" *ngFor="let item of fixedPrices.controls; let i=index" [formGroupName]="i">
      <ion-col size="6">
        <ion-text>{{ 'shipping.DestinationCity' | translate }}</ion-text>
        <ion-select placeholder="Select city" formControlName="city" [value]="item.city" >
          <ion-select-option *ngFor="let cityName of cities" [value]="cityName">{{cityName}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-text>{{ 'shipping.Price' | translate }}</ion-text>
        <ion-input placeholder="USD 0.00" [value]="item.charge" formControlName="charge" ></ion-input>
      </ion-col>
      <ion-col size="2" class="ion-align-self-end text-center" >
        <ion-icon name="close-circle" (click)="onReset(i)"></ion-icon>
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="primary" (click)="onAddLocation()">
          {{ 'shipping.AddAnother' | translate }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
