

<ion-text color="medium" class="ion-padding">
  Delivery Location
</ion-text>

<ion-card>
  <ion-card-content>
    <ion-text color="dark">
      714, Oakwood Residency, <br>
      Dubai <br>
      Ubited Arab Emirates
    </ion-text>
  </ion-card-content>
  
  <ion-item class="ion-text-center">
    <ion-label>
      <ion-text color="primary">Edit</ion-text>
    </ion-label>
  </ion-item>
</ion-card>

<ion-text color="medium" class="ion-padding">
  Delivery Method
</ion-text>

<ion-card>
  <ion-radio-group>
    <ion-item class="ion-activated">
      <ion-radio slot="start"></ion-radio>
      <ion-label>Free - Customer pickup</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-radio slot="start"></ion-radio>
      <ion-label>AED 5.00 - In-house Delivery</ion-label>
    </ion-item>
  </ion-radio-group>
</ion-card>
