<ion-text color="medium" class="ion-padding">
  Delivery Location
</ion-text>

<ion-card *ngIf="(order$ | async) as order">
  <ion-card-content>
    <ion-text color="dark">
      {{order.customer?.street}} <br>
      {{order.customer?.city}} <br>
      {{order.customer?.country}}
    </ion-text>
  </ion-card-content>
  
  <ion-item class="ion-text-center" (click)="onShowAddresseModal(order.customer)">
    <ion-label>
      <ion-text color="primary" >Edit</ion-text>
    </ion-label>
  </ion-item>
</ion-card>

<ion-text color="medium" class="ion-padding">
  Delivery Method
</ion-text>

<ion-card *ngIf="(order$ | async) as order">
    <ion-radio-group (ionChange)="onSelectDeliveryMethod($event)">
      <ion-item class="ion-activated" *ngFor="let deliveryMethod of order.deliveryMethod">
        <ion-radio slot="start" [value]="deliveryMethod"> </ion-radio>
        <ion-label>{{ deliveryMethod.rate == 0 ? 'Free' : deliveryMethod.rate}} - {{deliveryMethod.type}}</ion-label>
      </ion-item>
    </ion-radio-group>
</ion-card>

<ion-grid class="footer-grid">
  <ion-row>
    <ion-col>
      <ion-button color="favorite" expand="full" [disabled]="!selectedDeliveryMethod" (click)="goTo()"> Next </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>