<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
          <ion-back-button  color="dark" defaultHref="/" text="Customers" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="onSkip()" color="dark" >Skip</ion-button>
      </ion-buttons> 
    </ion-toolbar>
</ion-header>
<ion-content>
  
      
    <ion-list *ngIf="((customers$ | async).length)">
      <ion-list-header>
        <ion-item *ngIf="!isSerachActive" lines='none'>
            <ion-label slot="start">
              Customer list
            </ion-label>
            <ion-icon name="search" slot="end" (click)="onEnableSearch()"></ion-icon>
        </ion-item>
        
        <ion-searchbar
          #searchbar
          debounce="500"
          placeholder="Search for customers" 
          showCancelButton="always" 
          *ngIf="isSerachActive"
          cancelButtonIcon="arrow-back-sharp" 
          (ionChange) = "onSearch($event)"
          (ionCancel) = "onCancel()">
        </ion-searchbar>

      </ion-list-header>
        <ion-item  *ngFor="let item of (customers$ | async) | listFilter:'firstName,lastName':searchText" (click)="onselectCustomer(item)">
          <ion-avatar slot="start">
            <ion-text>{{item?.firstName | slice:0:1}}</ion-text>
          </ion-avatar>
          <ion-label>
            <h2>{{item?.firstName}} {{item?.lastName}}</h2>
            <p>{{item?.totalOrders}} orders, {{item?.totalAmount | currency:'USD':'code'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      
      <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
          <ion-fab-button (click)="onAddCustomer()" color="favorite">
            <ion-icon name="add" color="dark"></ion-icon>
          </ion-fab-button>
      </ion-fab>
</ion-content>
