<ion-header>
    <ion-toolbar color="favorite">
      <ion-buttons slot="start">
          <ion-back-button  color="dark" defaultHref="/" text="Customers" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="onSkip()" color="dark" >Skip</ion-button>
      </ion-buttons>  -->
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="(customers$ | async) as customers">
  
  <ion-grid *ngIf="!(customers.length)" class="info">
    <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-center">
          <!-- <div  class="catalogue-container"> -->
            <p class="text-bold">You haven't added any customers yet.</p>
            <p class="text-light">
              You can add details on behalf of a customer or let them complete it upon checkout
            </p>
            <ion-button 
                    expand="full" 
                    strong="true" 
                    (click)="onAddNewCustomer()"
                    class="add-item"
                    color="favorite">
              CREATE NEW CUSTOMER
            </ion-button>
          <!-- </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="search-container" *ngIf="customers.length">
    <ion-row class="add-container search-text-box" (click)="onAddNewCustomer()">
      <ion-col size='1'>
          <ion-icon name="add" ></ion-icon>
      </ion-col>
      <ion-col size='11'>
          <ion-text>Add New Customer</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isSerachActive" class="search-text-box">
      <ion-col size='11'>
        <ion-text>Customer list</ion-text>
      </ion-col>
      <ion-col size='1'>
        <ion-icon name="search" (click)="onEnableSearch()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isSerachActive">
      <ion-col size='12'>
        <ion-searchbar
          #searchbar
          debounce="500"
          placeholder="Search for customers" 
          showCancelButton="always" 
          cancelButtonIcon="arrow-back-sharp" 
          (ionChange) = "onSearch($event)"
          (ionCancel) = "onCancel()">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-list *ngIf="customers.length">
        <ion-item  *ngFor="let item of customers | listFilter:'firstName,lastName':searchText" (click)="onselectCustomer(item)">
          <ion-avatar slot="start">
            <ion-text>{{item?.firstName | slice:0:1}}</ion-text>
          </ion-avatar>
          <ion-label>
            <h2>{{item?.firstName}} {{item?.lastName}}</h2>
            <p>{{item?.totalOrders}} orders, {{item?.totalAmount | currency:'USD':'code'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      
</ion-content>
