ion-back-button {
    --icon-margin-end : 10px;
    --icon-margin-start : 5px;
}
ion-list-header  {
    ion-item  {
        width: 100%;
    }
}
ion-item  {
    // padding-bottom: 15px;
    padding-top: 10px;
    // border-bottom: 1px solid #000;

    ion-avatar  {
        background-color: var(--ion-color-success);
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 2.2;
        ion-text  {
            font-size: 30px;
            color: #ffffff;
        }
        
    }
    
}

ion-grid  {
    background-color: var(--ion-color-light);

    &.search-container  {
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
        ion-row {
            &.add-container  {
                background-color: #ffffff;
                color: var(--ion-color-primary);
            }

            &.search-text-box  {
                height: 45px;
                
                ion-col  {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                ion-col:nth-child(1)  {
                    padding-left: 15px;
                }
            }

            ion-searchbar  {
                padding: 0;
                height: 45px;
            }
        }
    }
    
}