<ion-content color="light">
  <div class="logo-container">
    <img src="./../../assets//images/logo.png" >
  </div>
  <ion-grid>
    <ion-row >
      <ion-col size='12' class="ion-text-center">
        <ion-text>
          {{ 'welcome.title' | translate }} 
        </ion-text>
      </ion-col>
      <ion-col size='12'>
        <ion-button expand='block' fill='outline' color="favorite" (click)="goToLogin()">{{ 'welcome.login' | translate }}</ion-button>
      </ion-col>
      <ion-col size='12'>
        <ion-button expand='block' fill='outline' color="favorite" (click)="goToCreateAccount()">{{ 'welcome.createAccount' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
