ion-grid  {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
}

ion-text  {
    font-size: 22px;
}

.logo-container  {
    text-align: center;
    margin-top: 200px;
    
    img  {
        height: 200px;
        border: 1px solid var(--ion-color-favorite);
        border-radius: 5px;
    }
}