<ion-header >
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>{{ 'shipping.title' | translate }}</ion-title>
    <!-- <ion-buttons slot="end" *ngIf="shippingForm.dirty">
      <ion-button (click)="onSave()">
        Save
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(orders$ | async) as order">
  
  <ion-list *ngIf="order?.country">
    <ion-radio-group (ionChange)="onSelectShipmentOptions($event)">
      <ion-item lines="full">
        <ion-label>
          <ion-text color="dark">{{defaultShipmentOption.charge | currency:(currency$ | async):'symbol'}}</ion-text> - {{'shipping.'+defaultShipmentOption.type | translate}}
        </ion-label>
        <ion-radio slot="start" [value]="defaultShipmentOption"></ion-radio>
      </ion-item>
      <ion-item *ngIf="(inHouseDelivery$ | async) as inHouseDelivery" lines="full">
        <ion-label>
          <ion-text color="dark">{{ inHouseDelivery?.charge | currency:(currency$ | async):'symbol'}}</ion-text> - {{'shipping.'+inHouseDelivery?.type | translate}}
        </ion-label>
        <ion-radio slot="start" [value]="inHouseDelivery"></ion-radio>
      </ion-item>
      <ion-item button (click)="onShowDeliveryRateModal()" lines="none" >
        <ion-label color="primary">{{ 'shipping.AddCustomRate' | translate }}</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-grid class="info" *ngIf="!order?.country">
    <ion-row class="ion-text-center">
      <ion-col size="12" class="icon">
        <ion-icon name="rocket-outline"></ion-icon>
      </ion-col>
      <ion-col size="12">
        <ion-text color="danger"> No address set for this customer</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text>Add an address to get a delivery quote or set your own rate</ion-text>
      </ion-col>
      <ion-col size="6" >
        <ion-text color="primary" (click)="onShowDeliveryRateModal()">Add custom rate</ion-text>
      </ion-col>
      <ion-col size="6" >
        <ion-text color="primary" (click)="onEditCustomer()">Edit customer address</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>