<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="new_order">
        <ion-icon src="./../../assets/icon/NewOrder.svg"></ion-icon>
      <ion-label>NEW ORDER</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="notification">
      <ion-icon src="./../../assets/icon/Notification.svg"></ion-icon>
      <ion-label>INBOX</ion-label>
    </ion-tab-button> -->
    

    <ion-tab-button tab="orders">
        <ion-icon src="./../../assets/icon/Orders.svg"></ion-icon>
        <ion-label>ORDERS</ion-label>
      </ion-tab-button>
    
    <ion-tab-button tab="customers">
        <ion-icon src="./../../assets/icon/Customer.svg"></ion-icon>
        <ion-label>CUSTOMERS</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="store">
      <ion-icon src="./../../assets/icon/Store.svg"></ion-icon>
      <ion-label>STORE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings_tab">
        <ion-icon src="./../../assets/icon/Settings.svg"></ion-icon>
        <ion-label>SETTINGS</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>