<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="new_order">
        <ion-icon name="reader-outline"></ion-icon>
      <ion-label>NEW ORDER</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>INBOX</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>ORDERS</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="send"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>SETTINGS</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>