<ion-header translucent>
  <ion-toolbar color="favorite" padding>
      <ion-buttons slot="start">
          <ion-button (click)="presentAlertConfirm()">
            Cancel
          </ion-button>
      </ion-buttons>
      <ion-title color="dark" mode="ios" >{{name}} Order</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onAddItems()">
          <ion-icon name='add'></ion-icon>
        </ion-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content forceOverscroll="true">
  <ion-list *ngIf="updatedOrders">
    <app-counter *ngFor="let order of updatedOrders; let i=index" 
      [order]= "order"
      (counterValue)="getCounterValue($event)">
    </app-counter>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row (click)="onSelectShipOptions()">
      <ion-col size='10' class="custom-line-height">
        <p class="main-text">Choose shipment type</p>
        <p class="sub-text">or leave empty to let customer decide</p>
      </ion-col>
      <ion-col size='2' class="ion-text-right ">
        <ion-icon class="arrow" name="chevron-forward-outline"></ion-icon>
        </ion-col>
    </ion-row>
    <!-- <ion-row (click)="onShowPaymentTypeModal()">
      <ion-col size='10' class="custom-line-height">
        <ion-text *ngIf="!paymentOption">
          <p class="main-text">Choose payment type</p>
          <p class="sub-text">or leave empty to let customer decide</p>
        </ion-text>

        <ion-text *ngIf="paymentOption">
          <p class="main-text">{{paymentOption?.type}}</p>
          <p class="sub-text">{{paymentOption?.network}}</p>
        </ion-text>
      </ion-col>
      <ion-col size='2' class="ion-text-right ">
        <ion-icon class="arrow" name="chevron-forward-outline"></ion-icon>
        </ion-col>
    </ion-row> -->
    <ion-row class="ion-no-border sub-text">
      <ion-col class="ion-text-left"><ion-text color="medium">Subtotal</ion-text></ion-col>
      <ion-col class="ion-text-right"><ion-text color="medium">{{subTotal | currency:'USD':'code'}}</ion-text></ion-col>
    </ion-row>
    <ion-row class="ion-no-border sub-text" *ngIf="deliveryCharge">
      <ion-col class="ion-text-left"><ion-text color="medium">Delivery (estimated)</ion-text></ion-col>
      <ion-col class="ion-text-right"><ion-text color="medium">{{deliveryCharge | currency:'USD':'code'}}</ion-text></ion-col>
    </ion-row>
    <ion-row class="ion-no-border sub-text">
      <ion-col class="ion-text-left"><ion-text color="medium">Tax/(VAT {{vat}} %)</ion-text></ion-col>
      <ion-col class="ion-text-right"><ion-text color="medium">{{vatAmount | currency:'USD':'code'}}</ion-text></ion-col>
    </ion-row>
    <ion-row class="ion-no-border main-text">
      <ion-col class="ion-text-left"><ion-text color="dark">Send Invoice</ion-text></ion-col>
      <ion-col class="ion-text-right"><ion-text color="dark">{{total | currency:'USD':'code'}}</ion-text></ion-col>
    </ion-row>
  
    <ion-row *ngIf="!(orderStatus$ | async) as orderStatus">
      <ion-col>
        <ion-button 
          expand="full" 
          strong="true" 
          (click)="onPostOrderSummary()"
          class="add-item"
          color="favorite">
          GENERATE & SHARE THE CHECKOUT LINK       
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="social-icons" *ngIf="(orderStatus$ | async) as orderStatus">
      <ion-col (click)="onShare(SOCIALMEDIA.WHATSAPP, orderStatus)">
          <ion-avatar>
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-avatar>
        <p>WhatsApp</p>
      </ion-col>
      <ion-col (click)="onShare(SOCIALMEDIA.MESSENGER, orderStatus)">
        <ion-avatar>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-avatar>
        <p>Messenger</p>
      </ion-col>
      <ion-col (click)="onShare(SOCIALMEDIA.SMS, orderStatus)">
          <ion-avatar>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </ion-avatar>
        <p>SMS</p>
      </ion-col>
      <!-- <ion-col (click)="onShare(SOCIALMEDIA.COPY, orderStatus)">
          <ion-avatar>
            <ion-icon name="link-outline"></ion-icon>
          </ion-avatar>
        <p>Copy Link</p>
      </ion-col> -->
      <ion-col (click)="onShare(SOCIALMEDIA.MORE, orderStatus)">
          <ion-avatar>
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-avatar>
        <p>More</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>