<ion-header >
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>{{ 'login.tabName' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="createAccountForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">{{ 'createAccount.vendorType' | translate }}</ion-label>
         <ion-select 
            okText="{{ 'common.button.Okay' | translate }}" 
            cancelText="{{ 'common.button.Dismiss' | translate }}" 
            formControlName="vendorType"
            (ionChange)="onChangeVendorType($event)">
                <ion-select-option *ngFor="let vendorType of vendorTypes | keyvalue" [value]="vendorType.value">{{vendorType.value}}</ion-select-option>
          </ion-select>
      </ion-item>

     
    <ion-item-group formGroupName="freelancer" *ngIf="createAccountForm.get('vendorType').value == vendorTypes.FREELANCER">
      <ion-item>
        <ion-label position="stacked">{{ 'common.label.firstName' | translate }}</ion-label>
        <ion-input formControlName="FirstName" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'common.label.lastName' | translate }}</ion-label>
        <ion-input formControlName="LastName" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'common.label.email' | translate }}</ion-label>
        <ion-input formControlName="Email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'common.label.password' | translate }}</ion-label>
        <ion-input formControlName="password" type="password" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="input-label" >{{ 'common.label.CountryOfResidence' | translate }}</ion-label>
        <ion-select 
          [value]="createAccountForm.get('freelancer').get('CountryOfResidence').value" 
          okText="{{ 'common.button.Okay' | translate }}" 
          cancelText="{{ 'common.button.Dismiss' | translate }}" 
          formControlName="CountryOfResidence"
          (ionChange)="onChangeCountry($event)">
          <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">{{ 'common.label.DateofBirth' | translate }}</ion-label>
        <ion-datetime name="Birthday" (ionChange)="getDate($event)" [value]="createAccountForm.get('freelancer').get('Birthday').value" cancelText="{{ 'common.button.cancel' | translate }}" doneText="{{ 'common.button.done' | translate }}"></ion-datetime>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">{{ 'createAccount.Occupation' | translate }}</ion-label>
        <ion-input formControlName="Occupation"></ion-input>
      </ion-item>
      <ion-item-group formGroupName="Address">
        <ion-item>
          <ion-label position="stacked" class="input-label" >{{ 'common.label.country' | translate }}</ion-label>
          <ion-select 
              okText="{{ 'common.button.Okay' | translate }}" 
              cancelText="{{ 'common.button.Dismiss' | translate }}" 
              formControlName="Country"
              (ionChange)="onChangeCountry($event)">
            <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}</ion-select-option>
          </ion-select>
        </ion-item>  
        
        <ion-item >
              <ion-label position="stacked" class="input-label" >{{ 'common.label.city' | translate }}</ion-label>
              <ion-select 
              okText="{{ 'common.button.Okay' | translate }}" 
              cancelText="{{ 'common.button.Dismiss' | translate }}" 
              formControlName="City"
              >
                <ion-select-option *ngFor="let city of cities" [value]="city">{{city}}</ion-select-option>
              </ion-select>
        </ion-item>  

        <ion-item>
          <ion-label position="stacked">{{ 'common.label.address' | translate }}</ion-label>
          <ion-input formControlName="AddressLine1" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{ 'common.label.postalCode' | translate }}</ion-label>
          <ion-input formControlName="PostalCode" ></ion-input>
        </ion-item>
      </ion-item-group>
    </ion-item-group>
    
    <ion-item-group formGroupName="legalEntity" *ngIf="createAccountForm.get('vendorType').value == vendorTypes.LEGALENTITY">
      <ion-item >
        <ion-label position="stacked">{{ 'createAccount.legalEntity' | translate }} {{ 'common.label.type' | translate }}</ion-label>
         <ion-select 
         okText="{{ 'common.button.Okay' | translate }}" 
         cancelText="{{ 'common.button.Dismiss' | translate }}" 
            formControlName="type"
            (ionChange)="onChangeLegalEntityType($event)">
                <ion-select-option *ngFor="let legalEntityType of legalEntityTypes | keyvalue" [value]="legalEntityType.value">{{legalEntityType.value}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item-group *ngIf="createAccountForm.get('legalEntity').get('type').value == legalEntityTypes.BUSINESS_ORGANIZATION_SOLETRADER">
        <ion-item lines="none">
          <ion-label class="header">
              <ion-text class="text-16 text-600">
                {{ 'createAccount.AddCompanyDetails' | translate }}
              </ion-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'common.label.Name' | translate }}</ion-label>
          <ion-input  formControlName="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'createAccount.CompanyNumber' | translate }}</ion-label>
          <ion-input formControlName="CompanyNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'common.label.email' | translate }}</ion-label>
          <ion-input formControlName="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'common.label.password' | translate }}</ion-label>
          <ion-input formControlName="password" type="password" ></ion-input>
        </ion-item>
      <ion-item-group formGroupName="HeadquartersAddress">

        <ion-item lines='none'>
          <ion-label>{{ 'createAccount.HeadquartersAddress' | translate }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" class="input-label" >{{ 'common.label.country' | translate }}</ion-label>
          <ion-select 
          okText="{{ 'common.button.Okay' | translate }}" 
          cancelText="{{ 'common.button.Dismiss' | translate }}" 
              formControlName="Country"
              (ionChange)="onChangeCountry($event)">
            <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}</ion-select-option>
          </ion-select>
        </ion-item>  
        
        <ion-item >
              <ion-label position="stacked" class="input-label" >{{ 'common.label.city' | translate }}</ion-label>
              <ion-select 
              okText="{{ 'common.button.Okay' | translate }}" 
              cancelText="{{ 'common.button.Dismiss' | translate }}" 
                  formControlName="City">
                <ion-select-option *ngFor="let city of cities" [value]="city">{{city}}</ion-select-option>
              </ion-select>
        </ion-item>  
        
        <ion-item>
          <ion-label position="stacked">{{ 'common.label.address' | translate }}</ion-label>
          <ion-input formControlName="AddressLine1" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">{{ 'common.label.postalCode' | translate }}</ion-label>
          <ion-input formControlName="PostalCode"></ion-input>
        </ion-item>
      </ion-item-group>
      
    </ion-item-group>
  </ion-item-group>
      
      <!-- <ion-item lines="none">
        <ion-checkbox slot="start" [checked]="isChecked" (ionChange)="checkTandC()"></ion-checkbox>
        <ion-label class="ion-text-wrap">By creating a store you agree to the <ion-text color="primary">T&C</ion-text> and Privacy Policy </ion-label>
      </ion-item> -->
      <ion-item-divider></ion-item-divider>
      <ion-item  button="true" color="favorite" (click)="onSubmit()">
        <!-- <ion-item  button="true" color="favorite" [disabled]="!(createAccountForm.valid && createAccountForm.dirty && isChecked)" (click)="onSubmit()"> -->
        <ion-label color="light" class="ion-text-center">{{ 'common.button.Next' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>