<ion-header >
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>VAT</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onApply()" *ngIf="vatForm.valid && vatForm.dirty">
        Apply
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <p>
      VAT rate
    </p>
  </ion-text>
  <ion-text color="medium">
    Amount of taxes owed by your customer will be added to each product and displayed at checkout.
  </ion-text>
  <form [formGroup]="vatForm">
    <ion-list>
      <ion-item lines="none" [class.error]="!vatForm.controls.vat.valid && (vatForm.controls.vat.dirty || vatForm.controls.vat.touched)">
        <ion-input formControlName="vat" name="vat"></ion-input>
        <ion-text slot="end">%</ion-text>
        <!-- <ion-text class="warn-text" >Rate cannot be empty</ion-text> -->
      </ion-item>

      <ion-item lines="none" [class.error]="!vatForm.controls.trn.valid && (vatForm.controls.trn.dirty || vatForm.controls.trn.touched)">
        <ion-label position="stacked">Tax Registration Number(TRN)</ion-label>
        <ion-input formControlName="trn" name="trn"></ion-input>
        <ion-text class="warn-text" >TRN cannot be empty</ion-text>
      </ion-item>
    </ion-list>
  </form>
</ion-content>