<ion-header >
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>{{ 'settings.vat' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onApply()" *ngIf="vatForm.valid && vatForm.dirty">
        {{ 'common.button.apply' | translate }}
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <p>
      {{ 'vat.rate' | translate }}
    </p>
  </ion-text>
  <ion-text color="medium">
    {{ 'vat.text' | translate }}
  </ion-text>
  <form [formGroup]="vatForm">
    <ion-list>
      <ion-item lines="none" [class.error]="!vatForm.controls.vat.valid && (vatForm.controls.vat.dirty || vatForm.controls.vat.touched)">
        <ion-input 
          formControlName="vat" 
          name="vat"
          type="number"
          numberInput >
        </ion-input>
        <ion-text slot="end">%</ion-text>
        <!-- <ion-text class="warn-text" >Vat {{ 'common.label.cantEmpty' | translate }}</ion-text> -->
      </ion-item>

      <ion-item lines="none" [class.error]="!vatForm.controls.trn.valid && (vatForm.controls.trn.dirty || vatForm.controls.trn.touched)">
        <ion-label position="stacked">{{ 'vat.trnText' | translate }}</ion-label>
        <ion-input formControlName="trn" name="trn"></ion-input>
        <ion-text class="warn-text" >{{ 'vat.trn' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
      </ion-item>
    </ion-list>
  </form>
</ion-content>