<ion-header translucent>
    <ion-toolbar color="favorite" padding>
        <ion-buttons slot="start">
            <ion-back-button  color="dark" defaultHref="/" text="" icon="close"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="onSubmit()">
            <ion-icon name="checkmark" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons> 
    </ion-toolbar>
</ion-header>
<ion-content padding >
    <form [formGroup]="customerForm">
        <ion-list>
            <ion-list-header>
                <ion-label>Basic Information</ion-label>
            </ion-list-header>
            <ion-item  lines='none' [class.error]="!customerForm.controls.firstName.valid && (customerForm.controls.firstName.dirty || customerForm.controls.firstName.touched)" >
                <ion-label position="stacked" class="input-label">First name</ion-label>
                <ion-input type="text" formControlName="firstName" name="firstName"></ion-input>
                <ion-text class="warn-text" >First name canot be empty</ion-text>
            </ion-item> 
            <ion-item lines='none' [class.error]="!customerForm.controls.lastName.valid && (customerForm.controls.lastName.dirty || customerForm.controls.lastName.touched)" >
                <ion-label position="stacked" class="input-label">Last name</ion-label>
                <ion-input type="text" formControlName="lastName" name="lastName"></ion-input>
                <ion-text class="warn-text" >Last name canot be empty</ion-text>
            </ion-item> 
            <ion-item lines='none'  >
                <ion-label position="stacked" class="input-label">Email address (optional)</ion-label>
                <ion-input type="text" formControlName="email" name="email"></ion-input>
            </ion-item> 
            <ion-item lines='none' [class.error]="!customerForm.controls.phoneNumber.valid && (customerForm.controls.phoneNumber.dirty || customerForm.controls.phoneNumber.touched)" >
                <ion-label position="stacked" class="input-label">Phone number</ion-label>
                <ion-input type="text" formControlName="phoneNumber" name="phoneNumber"></ion-input>
                <ion-text class="warn-text" >Phone number canot be empty</ion-text>
            </ion-item> 
            <div class="divider"></div>
            <ion-list-header>
                    <ion-label>Shipping Details</ion-label>
            </ion-list-header>
            <ion-item lines="none" >
                    <ion-label position="stacked" class="input-label" >Country</ion-label>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss" formControlName="country">
                      <!-- <ion-select-option [value]="null"> </ion-select-option> -->
                      <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}</ion-select-option>
                    </ion-select>
              </ion-item>  
              <ion-item lines="none" >
                    <ion-label position="stacked" class="input-label" >City</ion-label>
                    <ion-select value="brown" okText="Okay" cancelText="Dismiss" formControlName="city">
                      <!-- <ion-select-option [value]="null"> </ion-select-option> -->
                      <ion-select-option *ngFor="let city of cities" [value]="city">{{city}}</ion-select-option>
                    </ion-select>
              </ion-item>  
              <ion-item lines='none' [class.error]="!customerForm.controls.street.valid && (customerForm.controls.street.dirty || customerForm.controls.street.touched)" >
                    <ion-label position="stacked" class="input-label">Street</ion-label>
                    <ion-input type="text" formControlName="street" name="street"></ion-input>
                    <ion-text class="warn-text" >Street canot be empty</ion-text>
                </ion-item> 
        </ion-list>
    </form>
</ion-content>