<ion-header translucent>
    <ion-toolbar color="favorite" padding>
        <ion-buttons slot="start">
            <ion-back-button  color="dark" defaultHref="/" text="" icon="close"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="onSubmit()">
            <ion-icon name="checkmark-sharp" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons> 
    </ion-toolbar>
</ion-header>
<ion-content padding >
    <form [formGroup]="customerForm">
        <ion-list>
            <ion-list-header>
                <ion-label>{{ 'common.label.BasicInformation' | translate }}</ion-label>
            </ion-list-header>
            <ion-item  lines='none' [class.error]="!customerForm.controls.firstname.valid && (customerForm.controls.firstname.dirty || customerForm.controls.firstname.touched)" >
                <ion-label position="stacked" class="input-label">{{ 'common.label.firstName' | translate }}</ion-label>
                <ion-input type="text" formControlName="firstname" name="firstname"></ion-input>
                <ion-text class="warn-text" >{{ 'common.label.firstName' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
            </ion-item> 
            <ion-item lines='none' [class.error]="!customerForm.controls.lastname.valid && (customerForm.controls.lastname.dirty || customerForm.controls.lastname.touched)" >
                <ion-label position="stacked" class="input-label">{{ 'common.label.lastName' | translate }}</ion-label>
                <ion-input type="text" formControlName="lastname" name="lastname"></ion-input>
                <ion-text class="warn-text" >{{ 'common.label.lastName' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
            </ion-item> 
            <ion-item lines='none' [class.error]="!customerForm.controls.birthday.valid && (customerForm.controls.birthday.dirty || customerForm.controls.birthday.touched)">
                <ion-label position="stacked">{{ 'common.label.DateofBirth' | translate }}</ion-label>
                <ion-datetime name="birthday" 
                    (ionChange)="getDate($event)" 
                    cancelText="{{ 'common.button.cancel' | translate }}" 
                    doneText="{{ 'common.button.done' | translate }}"
                    [value]="customerForm.get('birthday').value"
                    monthShortNames="{{ 'common.months' | translate }}"
                    ></ion-datetime>
                <ion-text class="warn-text">{{ 'common.label.DateofBirth' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
              </ion-item> 
            <ion-item lines='none'  [class.error]="!customerForm.controls.email.valid && (customerForm.controls.email.dirty || customerForm.controls.email.touched)">
                <ion-label position="stacked" class="input-label">{{ 'common.label.email' | translate }}</ion-label>
                <ion-input type="text" formControlName="email" name="email"></ion-input>
                <ion-text class="warn-text">{{ 'common.label.email' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
            </ion-item> 
            <ion-item lines='none' [class.error]="!customerForm.controls.phonenumber.valid && (customerForm.controls.phonenumber.dirty || customerForm.controls.phonenumber.touched)" >
                <ion-label position="stacked" class="input-label">{{ 'common.label.phonenumber' | translate }}</ion-label>
                <ion-input type="text" formControlName="phonenumber" name="phonenumber"></ion-input>
                <ion-text class="warn-text" >{{ 'common.label.phonenumber' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
            </ion-item> 
            <div class="divider"></div>
            <ion-list-header>
                    <ion-label>{{ 'common.label.ShippingDetails' | translate }}</ion-label>
            </ion-list-header>
            <ion-item lines="none" [class.error]="!customerForm.controls.country.valid && (customerForm.controls.country.dirty || customerForm.controls.country.touched)">
                    <ion-label position="stacked" class="input-label" >{{ 'common.label.country' | translate }}</ion-label>
                    <ion-select 
                        [value]="customerForm.controls.country.value" 
                        okText="{{ 'common.button.Okay' | translate }}" 
                        cancelText="{{ 'common.button.Dismiss' | translate }}" 
                        formControlName="country"
                        (ionChange)="onChangeCountry($event)">
                      <!-- <ion-select-option [value]="null"> </ion-select-option> -->
                      <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}</ion-select-option>
                    </ion-select>
                    <ion-text class="warn-text" >{{ 'common.label.country' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
              </ion-item>  
              <ion-item lines="none" [class.error]="!customerForm.controls.city.valid && (customerForm.controls.city.dirty || customerForm.controls.city.touched)">
                    <ion-label position="stacked" class="input-label" >{{ 'common.label.city' | translate }}</ion-label>
                    <ion-select 
                        [value]="customerForm.controls.city.value" 
                        okText="{{ 'common.button.Okay' | translate }}" 
                        cancelText="{{ 'common.button.Dismiss' | translate }}"  
                        formControlName="city">
                      <!-- <ion-select-option [value]="null"> </ion-select-option> -->
                      <ion-select-option *ngFor="let city of cities" [value]="city">{{city}}</ion-select-option>
                    </ion-select>
                    <ion-text class="warn-text" >{{ 'common.label.city' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
              </ion-item>  
              <ion-item lines='none' [class.error]="!customerForm.controls.street.valid && (customerForm.controls.street.dirty || customerForm.controls.street.touched)" >
                    <ion-label position="stacked" class="input-label">{{ 'common.label.address' | translate }}</ion-label>
                    <ion-input type="text" formControlName="street" name="street"></ion-input>
                    <ion-text class="warn-text" >{{ 'common.label.address' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
                </ion-item> 
                <ion-item lines='none' [class.error]="!customerForm.controls.postalcode.valid && (customerForm.controls.postalcode.dirty || customerForm.controls.postalcode.touched)" >
                    <ion-label position="stacked" class="input-label">{{ 'common.label.postalCode' | translate }}</ion-label>
                    <ion-input type="text" formControlName="postalcode" name="postalcode"></ion-input>
                    <ion-text class="warn-text" >{{ 'common.label.postalCode' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
                </ion-item> 
        </ion-list>
    </form>
</ion-content>