<ion-header translucent>
  <ion-toolbar color="favorite" padding>
      <ion-buttons slot="start">
          <ion-button (click)="onDismiss()">
            {{ 'common.button.cancel' | translate }}
          </ion-button>
      </ion-buttons>
      <ion-title color="dark" mode="ios" >{{ 'settings.ChangeYourPassword' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onSubmit()" [disabled]="!(passwordForm.valid && passwordForm.dirty)"> 
          {{ 'common.button.Save' | translate }}
        </ion-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="passwordForm">
  <ion-list>
    <!-- <ion-item>
      <ion-label position="stacked">Old Password</ion-label>
      <ion-input formControlName="oldPassword" ></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="stacked">{{ 'settings.NewPassword' | translate }}</ion-label>
      <ion-input formControlName="newPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'settings.ConfirmPassword' | translate }}</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
  </ion-list>
</form>
</ion-content>