<ion-header translucent>
  <ion-toolbar color="favorite" padding>
      <ion-buttons slot="start">
          <ion-button (click)="onDismiss()">
            Cancel
          </ion-button>
      </ion-buttons>
      <ion-title color="dark" mode="ios" >Change Your Password</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onSubmit()" [disabled]="!(passwordForm.valid && passwordForm.dirty)"> 
          Save
        </ion-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="passwordForm">
  <ion-list>
    <!-- <ion-item>
      <ion-label position="stacked">Old Password</ion-label>
      <ion-input formControlName="oldPassword" ></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input formControlName="newPassword" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" ></ion-input>
    </ion-item>
  </ion-list>
</form>
</ion-content>