ion-back-button  {
    --padding-start : 0px;
}

ion-footer  {
    .main-text  {
        font-weight: 600;
        font-size: 16px;
    }
    .sub-text  {
        font-size: 14px;
    }
    .custom-line-height  {
        line-height: 10px;
    }

    ion-grid  {
        padding-left: 0;
        padding-right: 0;

        ion-row  {
            border-bottom: 2px solid var(--ion-color-light);
            
            &.ion-no-border  {
                border-bottom: unset;
            }

            &:last-child  {
                border-bottom: none;
            }
            
            &.social-icons  {
                border-top: none;

                ion-col {
                    text-align: center;
                    line-height: 1;

                    ion-avatar  {
                        margin: auto;
                        text-align: center;
                        padding: 8px 0;
                        background-color: var(--ion-color-light);
                    }

                }

                ion-icon  {
                    font-size: 30px;

                    &[name=logo-whatsapp]  {
                        color: #4FCE5D;
                    }
                }
                p  {
                    font-size: 12px;
                }
            }

            ion-icon  {
                &.arrow  {
                    height: 100%;
                    font-size: 20px;
                }
            }
            
        }
    }
    
}

