ion-toolbar  {
    --padding-top : 10px;
    --padding-bottom : 10px;
}

ion-back-button {
    --color: #000000;
    --icon-margin-end : 10px;
    --icon-margin-start : 10px;
}
ion-list  {
    padding: 15px 15px 15px 0;
}
ion-input {
    font-size: 18px;
}