<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ 'viewOrder.title' | translate }} {{order?.id}}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content *ngIf="order">
  <ion-item lines="none">
    <ion-label class="header">
        <ion-text class="text-16 text-600">
          {{ 'viewOrder.paymentStatus' | translate }}
        </ion-text>
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row >
                <ion-col size="12" class="ion-text-center status-icon">
                  <ion-icon name="cash-outline"></ion-icon>
                  </ion-col>  
                <ion-col size="12" class="ion-text-center text-600">
                    <ion-text color="success">{{ 'viewOrder.paid' | translate }}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <div class="ion-text-center payment-type">
    <div>
      <ion-icon name="cash-outline" color="medium" class="ion-margin-end"></ion-icon> 
    </div>
    <div>
      <ion-text class="ion-margin-bottom">{{ 'viewOrder.CardPayment' | translate }}</ion-text>
    </div>
  </div>
  <ion-button expand="block" class="ion-margin" (click)="call(order?.customer?.phonenumber)" >Contact customer</ion-button>
  <ion-item lines="none">
    <ion-label class="header">
        <ion-text class="text-16 text-600">
          {{ 'viewOrder.fulfillmentStatus' | translate }}
        </ion-text>
    </ion-label>
  </ion-item>

  <ion-grid class="fulfillment-status">
    <ion-row>
      <ion-col class="pending" (click)="sendStatusMail(deliveryStatus.Pending)">
        <p>
          <ion-icon name="checkmark-circle"></ion-icon> <br>
          {{ 'viewOrder.Pending' | translate }}
        </p>
      </ion-col>
      <ion-col class="ready" (click)="sendStatusMail(deliveryStatus.ReadyForDelivery)">
        <p>
          <ion-icon name="checkmark-circle"></ion-icon> <br>{{ 'viewOrder.ReadyForDelivery' | translate }}</p>
      </ion-col>
      <ion-col class="delivered" (click)="sendStatusMail(deliveryStatus.DeliveredToCustomer)">
        <p>
          <ion-icon name="checkmark-circle"></ion-icon> <br>{{ 'viewOrder.DeliveredToCustomer' | translate }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none">
    <ion-label class="header">
        <ion-text class="text-16 text-600">
          {{ 'viewOrder.orderSummary' | translate }}
        </ion-text>
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row >
                <ion-col size="7" class="ion-text-left">
                  {{ 'viewOrder.OrderDate' | translate }}:
                </ion-col>  
                <ion-col size="5" class="ion-text-right">
                    {{order?.createdAt | date: 'mediumDate'}}
                </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="7" class="ion-text-left">
                {{ 'viewOrder.title' | translate }} #:
              </ion-col>  
              <ion-col size="5" class="ion-text-right">
                {{order?.id}}
              </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="7" class="ion-text-left">
              {{ 'viewOrder.Items' | translate }}:
            </ion-col>  
            <ion-col size="5" class="ion-text-right">
              {{order?.orderItems?.length}}
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="7" class="ion-text-left text-600">
              <ion-text color="dark"> Order total: </ion-text>
            </ion-col>  
            <ion-col size="5" class="ion-text-right text-600">
              <ion-text color="dark"> {{order?.totalAmount | currency:(currency$ | async):'symbol'}} </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row >
                <ion-col size="7" class="ion-text-left">
                  {{ 'viewOrder.pickUp' | translate }}:
                </ion-col>  
                <ion-col size="5" class="ion-text-right">
                    {{order?.customer?.firstname}} {{order?.customer?.lastname}}
                </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size="7" class="ion-text-left">
                {{ 'viewOrder.Phone' | translate }} #:
              </ion-col>  
              <ion-col size="5" class="ion-text-right">
                {{order?.customer?.phonenumber}}
              </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="7" class="ion-text-left">
              {{ 'viewOrder.Email' | translate }}:
            </ion-col>  
            <ion-col size="5" class="ion-text-right">
              {{order?.customer?.email}}
            </ion-col>
          </ion-row>
          
        </ion-grid>
    </ion-card-content>
  </ion-card>
   <ion-item lines="none">
    <ion-label class="header">
        <ion-text class="text-16 text-600">
          {{ 'viewOrder.orderItems' | translate }}
        </ion-text>
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row *ngFor="let orderItem of order?.orderItems">
                <ion-col size="2" class="ion-text-center">
                  <ion-thumbnail>
                    <ion-icon class="item-icon" name="pricetags-outline"></ion-icon>
                  </ion-thumbnail>
                </ion-col>  
                <ion-col size="10" class="ion-text-right">
                  <ion-row >
                    <ion-col size="9" class="ion-text-left">
                      <ion-text color="dark" class="text-600">{{orderItem.item.productName}}</ion-text><br>
                      <ion-text>{{orderItem.item.price | currency:(currency$ | async):'symbol' }}</ion-text>
                    </ion-col>  
                    <ion-col size="3" class="ion-text-right">
                      <ion-chip color="dark">
                        <ion-label >{{orderItem.quantity}}</ion-label>
                      </ion-chip>
                    </ion-col>
                  </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card> 
</ion-content>
