<ion-header translucent>
    <ion-toolbar color="favorite" padding>
        <ion-buttons slot="start">
            <ion-back-button  color="dark" defaultHref="/" text="" icon="close"></ion-back-button>
        </ion-buttons>
        <ion-title color="dark" size="large">{{ 'catalogue.addItem.title' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onSubmit()">
            <ion-icon name="checkmark-sharp" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons> 
    </ion-toolbar>
</ion-header>
<ion-content padding >
    <form [formGroup]="catalogueForm">
        <div class="form-header">
            <ion-text class="input-label">
                {{ 'catalogue.addItem.label.AddPicture' | translate }} ({{ 'common.label.optional' | translate }}) 
            </ion-text>
        </div>
        <ion-item lines="none" class="d-flex justify-content-center">
            <div class="thumbnail-container"  *ngFor="let photo of photos; let i=index">
                <div class="thumbnail" (click)="onSelectPhoto(i)">
                    <ion-thumbnail>
                        <img *ngIf="photo?.webviewPath" [src]="photo?.webviewPath">
                        <ion-icon name="image-outline" *ngIf="!photo?.webviewPath" color="primary"></ion-icon>
                    </ion-thumbnail>
                </div>
                <div class="delete-icon" (click)="onDelete(i)">
                    <ion-icon  name="close-circle-outline" *ngIf="photo?.imgBlob"></ion-icon>
                </div>
            </div>
        </ion-item>

        <ion-item lines="none" [class.error]="!catalogueForm.controls.productName.valid && (catalogueForm.controls.productName.dirty || catalogueForm.controls.productName.touched)" >
            <ion-label position="stacked" class="input-label">{{ 'catalogue.addItem.label.productName' | translate }}</ion-label>
            <ion-input type="text" formControlName="productName" name="productName"></ion-input>
            <ion-text class="warn-text" >{{ 'common.label.Name' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
        </ion-item> 

        <ion-item lines="none" [class.error]="!catalogueForm.controls.price.valid && (catalogueForm.controls.price.dirty || catalogueForm.controls.price.touched)">
            <ion-label position="stacked" class="input-label">{{ 'catalogue.addItem.label.Price' | translate }} ({{currency$ | async}}) </ion-label>
            <ion-input type="number" formControlName="price" name="price"></ion-input>
            <ion-text class="warn-text">{{ 'catalogue.addItem.label.Price' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
        </ion-item>
        
        <ion-item lines="none">
            <ion-label position="stacked" class="input-label">{{ 'catalogue.addItem.label.AdditionalDetails' | translate }} ({{ 'common.label.optional' | translate }}) </ion-label>
            <ion-textarea clearOnEdit="true" rows="6" cols="20" formControlName="additionalDetails" name="additionalDetails" ></ion-textarea>
        </ion-item>
        <ion-item lines="none">
                <ion-label class="ion-text-wrap delivery-label" >
                        <ion-text  class="input-label">
                          <p>{{ 'catalogue.addItem.label.Delivery' | translate }}</p>
                        </ion-text>
                        <ion-text>
                            <p>{{ 'catalogue.addItem.label.DeliveryText1' | translate }}</p>
                        </ion-text>
                        <ion-text *ngIf="!hasDimensions" color="medium">
                          <p>{{ 'catalogue.addItem.label.DeliveryText2' | translate }}</p>
                        </ion-text>
                </ion-label>
                      <ion-toggle 
                        formControlName="delivery" 
                        slot="end">
                    </ion-toggle>
        </ion-item>
        <div class="form-header" *ngIf="catalogueForm.controls.delivery.value">
            <ion-text class="input-label">
                <p>{{ 'catalogue.addItem.label.Dimensions' | translate }} </p>
            </ion-text>
            <ion-text>
                <p>{{ 'catalogue.addItem.label.DimensionsText1' | translate }}</p>
            </ion-text>
        </div>
        <ion-item lines="none" *ngIf="catalogueForm.controls.delivery.value">
            <div class="dimention-thumbnail-container" *ngFor="let dimension of dimensions; let i=index">
                    <ion-thumbnail (click)="onSelectDimensions(dimension.type);isActive=i" class="dimensions"  [class.active]="isActive==i">
                        <ion-icon [name]="dimension.logo"></ion-icon>
                        <ion-text>
                            <p class="type">{{getTranslate(dimension.type)}}</p>
                            <p class="description">{{dimension.weight}} Kg-{{dimension.length}} L, {{dimension.width}} W, {{dimension.height}} H</p>
                        </ion-text>
                    </ion-thumbnail>
            </div>
        </ion-item>
        <div formGroupName="dimensionDetails" class="dimensionDetails" *ngIf="catalogueForm.controls.delivery.value">
            <ion-item lines="none">
                <ion-label position="stacked">{{ 'catalogue.addItem.label.Weight' | translate }}</ion-label>
                <ion-input type="text" formControlName="weight" name="weight"></ion-input>
                <span class="input-subtext">kg</span>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked">{{ 'catalogue.addItem.label.Length' | translate }}</ion-label>
                <ion-input type="text" formControlName="length" name="length"></ion-input>
                <span class="input-subtext">cm</span>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked">{{ 'catalogue.addItem.label.Width' | translate }}</ion-label>
                <ion-input type="text" formControlName="width" name="width"></ion-input>
                <span class="input-subtext">cm</span>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked">{{ 'catalogue.addItem.label.Height' | translate }}</ion-label>
                <ion-input type="text" formControlName="height" name="height"></ion-input>
                <span class="input-subtext">cm</span>
            </ion-item>
        </div>
    </form>
</ion-content>
