<ion-header translucent>
  <ion-toolbar color="light" padding>
    <ion-title>
      <img src="./../../../assets/images/logo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <form [formGroup]="passwordForm">
          <ion-list>
            <ion-list-header lines="none">
              <ion-label>
                <h1>Password Reset</h1>
                <p>
                  Please enter a new password below.
                </p>
              </ion-label>
            </ion-list-header>
            <br>
            <ion-item>
              <ion-label position="stacked">{{ 'settings.NewPassword' | translate }}</ion-label>
              <ion-input formControlName="newPassword" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'settings.ConfirmPassword' | translate }}</ion-label>
              <ion-input formControlName="confirmPassword" type="password"></ion-input>
            </ion-item>
            <br>
            <ion-item button color="favorite1" (click)="onSubmit()" [disabled]="!(passwordForm.valid && passwordForm.dirty)">
              <ion-label class="ion-text-center ion-text-bold" color="dark">
                Submit
              </ion-label>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>