<ion-header>
  <ion-toolbar padding>
    <ion-buttons slot="start" *ngIf="!isSerachActive">
        <ion-back-button  color="dark" defaultHref="/" [text]="!isSerachActive ? 'Catalogue' : ''" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isSerachActive">
      <ion-button (click)="isSerachActive = !isSerachActive; onEnableSearch()" color="dark">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons> 
    
    <ion-searchbar
      #searchbar
      debounce="500"
      placeholder="{{ 'catalogue.SearchItems' | translate }}" 
      showCancelButton="always" 
      *ngIf="isSerachActive"
      cancelButtonIcon="arrow-back-sharp" 
      (ionChange) = "onSearch($event)"
      (ionCancel) = "onCancel()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="(catelogue$ | async) as catalogue">
  <ion-grid *ngIf="!(catalogue.length)">
    <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-center">
          <div  class="catalogue-container">
            <h5 class="font-weight-bold ">{{ 'catalogue.title' | translate }}</h5>
            <p class="font-weight-light">
              {{ 'catalogue.subTitle' | translate }}
            </p>
            <ion-button 
                    expand="full" 
                    strong="true" 
                    (click)="onAddItem()"
                    class="add-item">
                    {{ 'catalogue.button.createProduct' | translate }}          
            </ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="catalogue.length">
      <ion-item *ngFor="let item of catalogue | listFilter:'productName':searchText" (click)="onViewItem(item)">
        <ion-thumbnail slot="start">
          <img [src]="imageURL(item?.images)" *ngIf="imageURL(item?.images)" >
          <ion-icon *ngIf="!imageURL(item?.images)" name="pricetags-outline"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <h2>{{item?.productName}}</h2>
          <!-- <p>{{item?.itemSold}} sold, {{item?.price | currency:'USD':'code'}}</p> -->
          <p> {{item?.price | currency:'USD':'code'}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
    <ion-fab-button (click)="onAddItem()" color="favorite">
      <ion-icon name="add" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>