<ion-header translucent>
  <ion-toolbar color="favorite">
      <ion-buttons slot="start">
          <ion-back-button  color="dark" defaultHref="/" text="{{ 'shop.title' | translate }}" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="shopProfileForm.valid">
        <ion-button (click)="onSubmit()">{{ 'common.button.done' | translate }}</ion-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
      <form [formGroup]="shopProfileForm">
        <ion-list>
            <ion-list-header>
                <ion-text>
                    <h5>{{ 'shop.Shoplogo' | translate }} ({{ 'common.label.optional' | translate }}) </h5>
                    <p class="font-14">{{ 'shop.ShoplogoText' | translate }}</p>
                </ion-text>
            </ion-list-header>
            <ion-item lines="none" class="d-flex justify-content-center">
                <div class="circle" (click)="presentActionSheet()" *ngIf="!shopLogo?.webviewPath">
                    <ion-icon name="add" ></ion-icon>
                </div>
                
                <ion-avatar (click)="presentActionSheet()" *ngIf="shopLogo?.webviewPath">
                    <img src= "{{ shopLogo.webviewPath }}">
                </ion-avatar>
            </ion-item> 
            <div class="divider"></div>
            <ion-list-header>
                <ion-text>
                    <h5>{{ 'shop.BasicInformation' | translate }}</h5>
                </ion-text>
            </ion-list-header>
          <ion-item lines="none" [class.error]="!shopProfileForm.controls.shopName.valid && (shopProfileForm.controls.shopName.dirty || shopProfileForm.controls.shopName.touched)">
              <ion-label position="stacked">{{ 'shop.ShopName' | translate }}</ion-label>
              <ion-input type="text" formControlName="shopName" name="shopName"></ion-input>
              <ion-text class="warn-text" >{{ 'shop.ShopName' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
          </ion-item>
          <ion-item lines="none" [class.error]="!shopProfileForm.controls.email.valid && (shopProfileForm.controls.email.dirty || shopProfileForm.controls.email.touched)">
            <ion-label position="stacked">{{ 'common.label.email' | translate }}</ion-label>
            <ion-input type="text" formControlName="email" name="email"></ion-input>
            <ion-text class="warn-text" >{{ 'common.label.email' | translate }} {{ 'common.label.cantEmpty' | translate }}</ion-text>
          </ion-item>
          <!-- <ion-item lines="none">
            <ion-label position="stacked">Website</ion-label>
            <ion-input type="text" formControlName="website" name="website"></ion-input>
          </ion-item> -->
         <div class="divider"></div>
         <ion-list-header>
            <ion-text>
                <h5>{{ 'shop.ShopDetails' | translate }} ({{ 'common.label.optional' | translate }}) </h5>
                <p class="font-14">{{ 'shop.ShopDetailsText' | translate }}</p>
            </ion-text>
        </ion-list-header>
          <ion-item lines="none">
            <ion-label position="stacked">{{ 'shop.ShopDetails' | translate }}</ion-label>
            <ion-input type="text" formControlName="shopdetails" name="shopdetails"></ion-input>
          </ion-item>
         <div class="divider"></div>
         <ion-list-header>
                <ion-text>
                    <h5>{{ 'shop.BusinessAddress' | translate }} </h5>
                    <p class="font-14">{{ 'shop.BusinessAddressText' | translate }}</p>
                </ion-text>
            </ion-list-header>
            <ion-item lines="none" >
                <ion-label >
                    <ion-text>
                        <p>{{ 'common.label.address' | translate }}</p>
                        <p *ngIf="shopProfileForm.controls.country.value">
                            <ion-text *ngIf="shopProfileForm.controls.street.value">{{shopProfileForm.controls.street.value}}, </ion-text>
                            <ion-text *ngIf="shopProfileForm.controls.city.value">{{shopProfileForm.controls.city.value}}, </ion-text>
                            <ion-text *ngIf="shopProfileForm.controls.country.value">{{shopProfileForm.controls.country.value}} </ion-text>
                        </p>
                    </ion-text>
                </ion-label>
              
                <ion-button slot="end" color="none" class="add-button" (click)="goToAddress()">
                    <ion-text *ngIf="!shopProfileForm.controls.country.value">{{ 'common.button.add' | translate }}</ion-text>
                    <ion-text *ngIf="shopProfileForm.controls.country.value">{{ 'common.button.edit' | translate }}</ion-text>
                  </ion-button>
                </ion-item>
                <div class="divider"></div>
                <ion-list-header>
                        <ion-text>
                            <h5>{{ 'shop.policy' | translate }} </h5>
                        </ion-text>
                </ion-list-header>
                <ion-item lines="none">
                    <!-- <ion-label position="stacked" class="input-label">{{ 'catalogue.addItem.label.AdditionalDetails' | translate }} ({{ 'common.label.optional' | translate }}) </ion-label> -->
                    <ion-textarea clearOnEdit="true" rows="6" cols="20" formControlName="refundExchangePolicy" name="refundExchangePolicy" ></ion-textarea>
                </ion-item>
          <!-- <div class="divider"></div> -->
          <!-- <div class="map-container" *ngIf="hasShopAddress">
            <ion-text>
                <h5>Pin Location</h5>
            </ion-text>
            <app-map [location]="geoLocation$ | async" ></app-map>
          </div> -->
         </ion-list>
    </form>
</ion-content>