<ion-header>
    <ion-toolbar color="favorite" mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
              {{ 'common.button.cancel' | translate }}
            </ion-button>
        </ion-buttons>
        
        <ion-buttons slot="end" *ngIf="(listofItems$ | async)">
          <ion-button (click)="onSubmitItems()">
            {{ 'common.button.done' | translate }}
          </ion-button>
        </ion-buttons> 

        <ion-title color="dark" >{{ 'catalogue.SelectItems' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="(listofItems$ | async) as listofItems" >
  
  <ion-grid *ngIf="!(listofItems.length)" class="info">
    <ion-row class="ion-align-items-center">
        <ion-col class="ion-align-self-center">
            <p>{{ 'catalogue.noItem' | translate }}</p>
            <ion-button 
                    expand="full" 
                    strong="true" 
                    (click)="onAddNewItem()"
                    class="add-item"
                    color="favorite">
                    {{ 'catalogue.button.createProduct' | translate }}
            </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="search-container" *ngIf="listofItems.length">
    <ion-row class="add-container search-text-box" (click)="onAddNewItem()">
      <ion-col size='1'>
          <ion-icon name="add" ></ion-icon>
      </ion-col>
      <ion-col size='11'>
          <ion-text>{{ 'catalogue.createItem' | translate }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isSerachActive" class="search-text-box">
      <ion-col size='11'>
        <ion-text>{{ 'catalogue.chooseItems' | translate }}</ion-text>
      </ion-col>
      <ion-col size='1'>
        <ion-icon name="search" (click)="onEnableSearch()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isSerachActive">
      <ion-col size='12'>
        <ion-searchbar
          #searchbar
          debounce="500"
          placeholder="{{ 'catalogue.SearchItems' | translate }}" 
          showCancelButton="always" 
          cancelButtonIcon="arrow-back-sharp" 
          (ionChange) = "onSearch($event)"
          (ionCancel) = "onCancel()">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="(listofItems$ | async) as listofItems">
        <ion-item *ngFor="let item of listofItems | listFilter:'productName':searchText" (click)="onSelectItem(item)">
          <ion-thumbnail slot="start">
            <img [src]="item?.url">
          </ion-thumbnail>
          <ion-label>
            <h2>{{item?.productName}}</h2>
            <p>{{item?.itemSold}} sold, {{item?.price | currency:'USD':'code'}}</p>
            
          </ion-label>
          <ion-checkbox slot="end" color="favorite" ></ion-checkbox>
        </ion-item>
      </ion-list>
</ion-content>