<ion-header translucent>
    <ion-toolbar color="favorite" padding>
        <ion-buttons slot="start">
            <!-- <ion-back-button  color="dark" defaultHref="/" text="Cancel"></ion-back-button> -->
            <ion-button (click)="goBack()">
              Cancel
            </ion-button>
        </ion-buttons>
        <ion-title color="dark">Add Item</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onSubmitItems()">
            Add
          </ion-button>
        </ion-buttons> 
    </ion-toolbar>
</ion-header>
<ion-content fullscreen >
  
  <ion-grid class="search-container">
    <ion-row class="add-container search-text-box" (click)="onAddNewItem()">
      <ion-col size='1'>
          <ion-icon name="add" ></ion-icon>
      </ion-col>
      <ion-col size='11'>
          <ion-text>Create New Item</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isSerachActive" class="search-text-box">
      <ion-col size='11'>
        <ion-text>Choose from Catalogue</ion-text>
      </ion-col>
      <ion-col size='1'>
        <ion-icon name="search" (click)="onEnableSearch()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isSerachActive">
      <ion-col size='12'>
        <ion-searchbar
          #searchbar
          debounce="500"
          placeholder="Search for catalogue" 
          showCancelButton="always" 
          cancelButtonIcon="arrow-back-sharp" 
          (ionChange) = "onSearch($event)"
          (ionCancel) = "onCancel()">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="(listofItems$ | async) as listofItems">
        <ion-item *ngFor="let item of listofItems | listFilter:'productName':searchText" (click)="onSelectItem(item)">
          <ion-thumbnail slot="start">
            <img [src]="item?.url">
          </ion-thumbnail>
          <ion-label>
            <h2>{{item?.productName}}</h2>
            <p>{{item?.itemSold}} sold, {{item?.price | currency:'USD':'code'}}</p>
            
          </ion-label>
          <ion-checkbox slot="end" color="favorite" ></ion-checkbox>
        </ion-item>
      </ion-list>
</ion-content>