<!-- <ion-header>
    <div class="heading">
        <h2>Before you start selling... </h2>
        <p class="font-14">Add a few details.</p>
  </div>
</ion-header> -->
<ion-content fullscreen >
  <div class="heading">
        <h1>Before you start selling... </h1>
        <p class="font-14">Add a few details.</p>
  </div>  
  <ion-slides #slider pager="true" [options]="slideOpts" >
      <ion-slide>
        <div class="slide-container">
          <img src="./../../assets/images/store.png" alt="store-setup"class="slider-img">
          <ion-text class="text-dark">
            <h3 >Tell us about your business</h3>
            <p class="subtitle">
              Now is your chance to add your logo and other important shop details
            </p>
          </ion-text>
          <ion-button 
            expand="full" 
            strong="true" 
            (click)="goTo('/shop')">Set up your shop</ion-button>
        </div>
      </ion-slide>
      <ion-slide>
          <div class="slide-container">
              <img src="./../../assets/images/payment.png" alt="store-setup"class="slider-img">
              <ion-text class="text-dark">
                <h3 >Start accepting payment</h3>
                <p class="subtitle">
                  Tell us how you would like your customers to pay you
                </p>
              </ion-text>
              <ion-button 
                expand="full" 
                strong="true" 
                (click)="goTo('/shop/my_wallet')">Set up your payment</ion-button>
            </div>
      </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer class="ion-no-border"> 
    <ion-toolbar color="favorite1" >
      <h5 (click)="onLogout()">
        Cancel (Logout)
      </h5>
    </ion-toolbar>
  </ion-footer>