<ion-header >
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>{{ 'settings.payment_settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <p>
        {{ 'payment_settings.text' | translate }}
      </p>
    </ion-item>
    <ion-item button="true" *ngFor="let paymentMethod of paymentMethods$ | async">
      <ion-label>
        {{paymentMethod.type}} <span (click)="onShowInfo(paymentMethod)">({{paymentMethod.fee}}%)</span>
      </ion-label>
      <ion-checkbox slot="end" color="favorite" 
      [checked]="paymentMethod.selected"
      (ionChange)="onSelectPaymentMethod($event, paymentMethod)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>