<ion-list-header>
    {{order.productName}}
</ion-list-header>
<ion-item lines='none'>
    <div class="counter">
                <div (click)="onClickCounter('decrease')">
                    <ion-icon name="remove" ></ion-icon>
                </div>
                <div>
                    <ion-label>{{count}}</ion-label>
                </div>
                <div (click)="onClickCounter('increase')">
                    <ion-icon name="add" ></ion-icon>
                </div>
    </div> X {{price | currency:currencyCode:'symbol'}}
    <ion-text slot="end">{{totalPrice | currency:currencyCode:'symbol'}}</ion-text>
</ion-item>
