ion-toolbar  {
    --padding-start : 10px;
}

.bannaer-img  {
    height: 300px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    img  {
        height: 100%;
        border-radius: 5px;
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
    }
}

ion-item  {
    
    p {
        font-size: 16px;
        line-height: 2;

        &.light  {
            color: var(--ion-color-medium)
        }
        &.bold  {
            font-weight: 700;
        }
    }

    ion-thumbnail  {
        margin: 15px 15px 15px 0;
        width: 80px;
        height: 80px;
        --border-radius	 : 5px;
        // --size: 100%;
        &.active  {
            border: 2px solid var(--ion-color-favorite);
        }
    }

    &.item-margin  {
        margin: 15px 0;
    }
}