<ion-header translucent>
  <ion-toolbar color="favorite" padding>
      <ion-buttons slot="start">
          <ion-back-button  color="dark" defaultHref="/" text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons>
      <!-- <ion-title color="dark" *ngIf="itemDetails?.productName">{{itemDetails?.productName}}</ion-title> -->
      <ion-buttons slot="end">
          <ion-button (click)="onEdit()">
            <ion-text color="dark">
              {{ 'common.button.edit' | translate }}
            </ion-text>
          </ion-button>
        </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="bannaer-img" *ngIf="photos.length">
    <img [src]="bannerPhoto" />
  </div>  
  
  <ion-item lines="none" *ngIf="photos.length">
    <ion-thumbnail *ngFor="let photo of photos; let i=index" 
        (click)="onSetBannerImg(photo);isActive=i" 
        [class.active]="isActive==i">
      <ion-img [src]="photo"></ion-img>
    </ion-thumbnail>
  </ion-item>

  <ion-item lines="none" class="item-margin">
    <ion-label >
      <ion-text>
        <p>{{itemDetails?.productName}}</p>
      </ion-text>
      <ion-text>
        <p class="bold">{{itemDetails?.price | currency:(currency$ | async):'symbol' }}</p>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="item-margin">
      <ion-label >
        <ion-text>
          <p>{{ 'catalogue.addItem.label.ProductDescription' | translate }}</p>
        </ion-text>
        <ion-text>
            <p>{{itemDetails?.additionalDetails}}</p>
        </ion-text>
      </ion-label>
  </ion-item>

  <ion-item lines="none" class="item-margin" *ngIf="itemDetails?.delivery">
      <ion-grid>
          <ion-row >
            <ion-col>
              <p>{{ 'catalogue.addItem.label.Weight' | translate }}</p>
              <p class="light">{{itemDetails?.weight}} kg</p>
            </ion-col>
            <ion-col>
                <p>{{ 'catalogue.addItem.label.Length' | translate }}</p>
                <p class="light">{{itemDetails?.length}} cm</p>
            </ion-col>
            <ion-col>
                <p>{{ 'catalogue.addItem.label.Width' | translate }}</p>
                <p class="light">{{itemDetails?.width}} cm</p>
            </ion-col>
            <ion-col>
                <p>{{ 'catalogue.addItem.label.Height' | translate }}</p>
                <p class="light">{{itemDetails?.height}} cm</p>
            </ion-col>
          </ion-row>
          </ion-grid>
  </ion-item>

  <!-- <ion-item lines="none" class="item-margin">
      <ion-label slot="start">
        <ion-text>
          <p>Prod Name</p>
        </ion-text>
      </ion-label>
      <ion-label slot="end">
          <ion-text>
            <p>Yes</p>
          </ion-text>
        </ion-label>
  </ion-item> -->

</ion-content>